[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.2.*"
pytz = "*"

[dev-packages]
"psycopg2-binary" = "*"
twine = "*"
"flake8" = "*"
"flake8-docstrings" = "*"
coverage = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
