# The app
Django==2.1.*
pytz
scrapy-calaccess-crawler
# -e git://github.com/california-civic-data-coalition/scrapy-calaccess-crawler.git#egg=calaccess_crawler

# Databases
psycopg2

# Testing
flake8
flake8_docstrings
coverage
python-coveralls

# Packaging
wheel
twine
